<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Livre d'or</title>
</head>
<body>
    <header>
    <div class="ui fixed inverted menu">
        <a href="/" class="header item">Accueil</a>

    </div>
</header>